Django==2.0
pkg-resources==0.0.0
pytz==2018.4


#possible API endpoints:https://www.googleapis.com/books/v1/volumes?q=chimamanda
#author:https://www.googleapis.com/books/v1/volumes?q=inauthor:chimamanda&key=AIzaSyBq3oH1P0mDfWT5y1tzvnUbZIoUwFzU0ZM
#title=https://www.googleapis.com/books/v1/volumes?q=purple&key=AIzaSyBq3oH1P0mDfWT5y1tzvnUbZIoUwFzU0ZM
#subject=https://www.googleapis.com/books/v1/volumes?q=subject=feminism&key=AIzaSyBq3oH1P0mDfWT5y1tzvnUbZIoUwFzU0ZM