*{
    font-size:15px;
    margin:0;
    margin-right: -9px;
    
}
.container-fluid {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}
.nav{
    background:black;
}
nav li{
    display:inline-block;
    margin:1%;
    padding:1em;
}
#bodynav{
    float:right;
    
}
.nav a{
    color:black;
}
 ul {
    margin-top: 0;
    margin-bottom: 10px;
    padding-right: 7em;
}
img{
    width:200%;
    height:100%;
    padding:0px;
    margin:0;
    margin-left:0;
    margin-right:0;
    
}

#books{
    height:80vh;
    background:pink;
    margin:0;
    background-image: url("https://images.pexels.com/photos/673648/pexels-photo-673648.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    
}
.randoms{
    height:40vh;
    background:yellow;
    margin:0;
    padding:2em;
}
.ideas{
    height:40vh;
    background:burlywood;
    margin:0;
}
.footer{
    height:40vh;
    background:black;
    color:white;
    margin:0;
    padding:2em;
}
