{% extends 'forms/base.html'%}
{% load static %}
{% load bootstrap3 %}
{% block styles %}
{% bootstrap_css %}
<link rel="stylesheet" href="#">
{% endblock %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-xs-6 offset-3">
            <h3>Create A Book Club</h3>
            <form action="{% url 'create_group' %}" method='post'>
                    {% csrf_token %}
                {% bootstrap_form form %}
                <input type="submit">
            </form>
        </div>
    </div>
</div>

{% endblock %}