{% extends 'views/base.html' %}
{% load static %}
{% load bootstrap3 %}
{% block styles %}
{% bootstrap_css %}
<link rel="stylesheet" href="#">
{% endblock %}
{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12,col-lg-12 col-xs-12 text-center">
            <div id="books">
                <h5>Books carousel goes here</h5>
                
            </div>
            <div class="randoms">
                <h5>Click the buttom for a question</h5>
                
                <form action="">
                    <input type="button" name="random" id="questions" value="get question">
                </form>
                
            </div>
            <div class="ideas">
                <h2>About us</h2>
            </div>
            <div class="footer text-center">
                <h3>Book club &copy;</h3>
                <p>0719-656-398</p>
                <p>kiptim54@gmail.com</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}