{% extends 'views/base.html' %}
{% load static %}
{% load bootstrap3 %}
{% block styles %}
{% bootstrap_css %}
<link rel="stylesheet" href="#">
{% endblock %}
{% block content %}
{% include 'greennav.html' %}

<div class="container">
    <div class="row">
        <div class="col-xs-12 text-center">
            {% for review in reviews %}
            <hr>
          <a href="{% url 'single_review' id=review.id %}"><h1 style="text-transform: uppercase;"> Book Review:{{review.title}}</h1></a>
         
           <p>Review: {{review.Review}}</p> 
           
            {% endfor %}
            
        </div>
    </div>
</div>

{% endblock %}