{% extends 'views/base.html' %}
{% load static %}
{% load bootstrap3 %}
{% block styles %}
{% bootstrap_css %}
<link rel="stylesheet" href="#">
{% endblock %}
{% block content %}
{% include 'greennav.html' %}

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h3 style="color:#85aa2c; text-transform: uppercase;">{{review.title}}</h3>
            <hr>
            <p>{{review.Review}}</p>
           
            <form id="endpoint-url-div" action="{% url 'comment' review.id %}" method='post'>
                    {% csrf_token %}
                {%for field in form %}
                {%bootstrap_field field %}
                
                <input type="submit">
                <br>
                </form>
                <br>
                <br>
                {%endfor%}
                <h2>Comments</h2>
                {% for comment in comments %}
                <div class="row">
                    <div class="col-xs-6">
                            <div id="comments">
                                        <p>{{comment.user}}~~{{comment.comment}}</p>
                                        <p>{{comment.time_posted}}</p>
                                    <hr>
                                </div>
                                
                    </div>
                </div>
              

                {% endfor %}
            
        </div>
    </div>
</div>
{% block scripts %}
{{block.super}}
<script type='text/javascript' src='{% static 'js/scripts.js'%}'></script>
{% endblock %}
{% endblock %}
