{% extends 'views/base.html' %}
{% load static %}
{% load bootstrap3 %}
{% block styles %}
{% bootstrap_css %}
<link rel="stylesheet" href="#">
{% endblock %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h3>{{review.title}}</h3>
            <p>{{review.Review}}</p>
            <h3>Add comment</h3>
            <form id="endpoint-url-div" action="{% url 'comment' review.id %}" method='post'>
                    {% csrf_token %}
                {%for field in form %}
                {{field.label_tag}}
                {%bootstrap_field field %}
                
                <input type="submit">
                <br>
                </form>
                {%endfor%}
                <h5>Comments</h5>
                <hr>
                {% for comment in comments %}
                <div id="comments">
                        <p>{{comment.user}}~~{{comment.comment}}</p>
                        <p>{{comment.time_posted}}</p>
                </div>
                

                {% endfor %}
            
        </div>
    </div>
</div>
{% block scripts %}
{{block.super}}
<script type='text/javascript' src='{% static 'js/scripts.js'%}'></script>
{% endblock %}
{% endblock %}
